<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.discoverandchange.pornographycrisissupport">

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <!-- needed to retrieve a meaningfull picture again after a user has selected it -->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".quiz.controllers.QuizController">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".supportnetwork.controllers.SupportNetworkListController">
        </activity>
        <activity android:name=".library.controllers.LibraryController">
        </activity>
        <provider
            android:name=".db.SupportContactProvider"
            android:authorities="com.discoverandchange.pornographycrisissupport.SupportContactProvider"
            android:exported="false" />
        <activity android:name=".supportnetwork.controllers.SupportNetworkEditController"/>
        <activity android:name=".quiz.controllers.QuizHistoryController">
        </activity>
        <activity android:name=".library.controllers.VideoActivityController">
        </activity>
        <activity android:name=".library.controllers.AudioActivityController">
        </activity>
        <activity
            android:name=".library.controllers.ExternalWebsiteActivityController"
            android:noHistory="true">
        </activity>
        <activity android:name=".library.controllers.WebsiteActivityController">
        </activity>
        <activity android:name=".settings.controllers.SettingsController">
        </activity>
        <activity android:name=".settings.controllers.MeaningfulPictureSettingsController">
        </activity>
        <activity android:name=".settings.controllers.InspirationalQuoteSettingsController">
        </activity>
        <activity android:name=".library.controllers.InspirationalQuoteController">
        </activity>
        <activity android:name=".library.controllers.MeaningfulPictureController">
        </activity>
        <receiver android:name=".CrisisAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/crisis_app_widget_info"/>
        </receiver>
        <activity android:name=".firstuse.controllers.FirstUseController">
        </activity>
        <activity android:name=".firstuse.controllers.TestMessageController">
        </activity>
    </application>

</manifest>
